{
  "name": "@magicblock-labs/${node_pkg}",
  "description": "Bolt CLI tool (${node_pkg})",
  "version": "0.1.12",
  "repository": {
    "type": "git",
    "url": "git+https://github.com/magicblock-labs/bolt.git"
  },
  "bugs": {
    "url": "https://github.com/magicblock-labs/bolt/issues"
  },
  "license": "MIT",
  "private": false,
  "author": "Magicblock Labs <dev@magicblock.gg>",
  "homepage": "https://www.magicblock.gg/",
  "os": [
    "${node_os}"
  ],
  "cpu": [
    "${node_arch}"
  ],
  "publishConfig": {
    "access": "public",
    "registry": "https://registry.npmjs.org/"
  }
}
