{
  "name": "@magicblock-labs/${node_pkg}",
  "version": "${node_version}",
  "repository": {
    "type": "git",
    "url": "git+https://github.com/magicblock-labs/bolt.git"
  },
  "author": "Magicblock Labs <dev@magicblock.gg>",
  "homepage": "https://www.magicblock.gg/",
  "os": [
    "${node_os}"
  ],
  "cpu": [
    "${node_arch}"
  ]
}